/* Basic Style */
body {
  background-color: var(--background);
  color: var(--main-color);
  font-family: Lato, sans-serif;
}

.ul,
.input {
  margin: 0;
  padding: 0;
}

.input,
.label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.input,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0;
  color: var(--secondary-color);
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: var(--button-hovered);
}

.input {
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid var(--input-border);
  background: var(--input-background);
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: var(--secondary-color);
  width: 226px;
}

.input:focus {
  color: var(--main-color);
}

.li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid var(--li-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

li > * {
  vertical-align: middle;
}

.checkbox {
  margin: 0 10px;
}

.label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* Heading */
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

/* New Task */
.section__header {
  color: var(--main-color);
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid var(--main-color);
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.section__input {
  display: flex;
  margin-top: 20px;
}

.section_add {
  margin: 1em 0;
}

.input_add {
  width: 318px;
}

/* Task list */
.button__delete_img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button__delete_img:hover {
  transform: rotateZ(0);
}

/* Completed */
.label_completed {
  text-decoration: line-through;
  color: var(--secondary-color);
}

/* Edit Task */
.input_hidden {
  display: none;
}

.label_hidden {
  display: none;
}

.input_shown {
  display: inline-block;
  width: 224px;
}
