:root {
  --background: #f8f8f8;
  --main-color: #333333;
  --secondary-color: #888888;
  --input-border: #dddddd;
  --input-background: #ffffff;
  --button-hovered: #3a3a3a;
  --li-border: #eeeeee;
}
